*{
    margin: 0;
    padding: 0;
    scroll-behavior:  smooth;
    box-sizing: border-box;
}
:root{
    --underline:#5DADE2;
    --hover:#21618C;
}
.universal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    box-shadow: 1px 5px 20px -4px rgba(0,0,0,0.75);
    border-radius: 20px;
    width: 50vw;
}
.search-box{
    margin:70px 50px 40px 50px;
    justify-content: space-around;
}
.search{
    height: fit-content;
    width: fit-content;
    padding: 15px 50px ;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
.search-box input{
    border: none;
    outline: none;
    width: 27vw;
    border-bottom: 4px solid var(--underline);
    padding: 10px;
    font-size: large;
}
.text-reveal{
    padding: 10px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    line-height: 2.2;
    font-family: 'Voces', cursive;

}
.extra{
    justify-content: flex-start;
    gap: 5%;
    opacity: 0.5;
}
.defination{
    line-height: 1.8;
}
.search:hover{
    cursor: pointer;
    background-color:var(--hover) ;
    color: white;
}
